.formGroup {
  position: relative;
  padding: 20px 0 0;
  width: 100%;

  input {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    outline: 0;
    font-size: 17px;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  input:placeholder-shown ~ label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }

  label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }

  input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image-slice: 1;
  }

  input:focus ~ label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    font-weight: 700;
  }

  input:required,
  .input:invalid {
    box-shadow: none;
  }
}
