@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px;

  .icons {
    width: 24px;
  }

  .inlineList {
    list-style-type: none; /* Видаляє маркери списку */
    padding: 20px; /* Видаляє відступи */
    display: flex; /* Встановлює флекс-контейнер */
    align-items: center; /* Вирівнює елементи по центру */
    font-size: 16px;
    color: #707070;
  }

  .inlineList li {
    margin-right: 45px;
    /* Додає відступ між елементами */
  }

  .energetics {
    text-decoration: none;
    font-family: Allerta Stencil, serif;
    color: #0d093a;
    font-size: 35px;
  }

  .shop {
    text-decoration: none;
    color: #000000;
    font-weight: calc(340 * 1.5);
  }
}
